<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.tokyo.leon.mybatis.mapper.LogMapper">
    <select id="selectAllByTable" resultType="jp.tokyo.leon.mybatis.entity.Log">
        select * from t_log_${time}
    </select>



</mapper>