<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.tokyo.leon.mybatis.dynamic.mapper.CarMapper">

    <resultMap id="carResultMap" type="jp.tokyo.leon.mybatis.dynamic.entity.Car">
        <id property="id" column="id"/>
        <result property="carNum" column="car_num"/>
        <result property="brand" column="brand"/>
        <result property="guidePrice" column="guide_price"/>
        <result property="produceTime" column="produce_time"/>
        <result property="carType" column="car_type"/>
    </resultMap>

    <select id="selectByMultiCondition" resultMap="carResultMap">
        select * from t_car where
        <!--

        -->
        <if test="brand != null and brand != ''">
             brand like '%${brand}%'
        </if>
        <if test="guidePrice != null and guidePrice != ''">
            and guide_price > #{guidePrice}
        </if>
        <if test="carType != null and carType != ''">
            and car_type = #{carType}
        </if>
    </select>

    <select id="selectByMultiConditionWithWhere" resultMap="carResultMap">
        select * from t_car
            <where>
                <if test="brand != null and brand != ''">
                    and brand like '%${brand}%'
                </if>
                <if test="guidePrice != null and guidePrice != ''">
                    and guide_price > #{guidePrice}
                </if>
                <if test="carType != null and carType != ''">
                    and car_type = #{carType}
                </if>
            </where>
    </select>

    <select id="selectByMultiConditionWithTrim" resultMap="carResultMap">
        select * from t_car

        <trim prefix="where" suffixOverrides="and|or">
            <if test="brand != null and brand != ''">
                brand like '%${brand}%' and
            </if>
            <if test="guidePrice != null and guidePrice != ''">
                guide_price > #{guidePrice} and
            </if>
            <if test="carType != null and carType != ''">
                car_type = #{carType}
            </if>
        </trim>
    </select>

    <update id="updateById" parameterType="Car">
        update t_car set
           car_num = #{carNum},
           brand = #{brand},
           guide_price = #{guidePrice},
           car_type = #{carType}
        where id = #{id}
    </update>

    <update id="updateByIdSet" parameterType="Car">
        update t_car
            <set>
                <if test="carNum != null and carNum !=''">car_num = #{carNum},</if>
                <if test="brand != null and brand != ''">brand = #{brand},</if>
                <if test="carType != null and carType != ''">car_type = #{carType},</if>
                <if test="guidePrice != null and guidePrice != ''">guide_price = #{guidePrice},</if>
                <if test="produceTime != null">produce_time = #{produceTime},</if>
            </set>
        where id = #{id}
    </update>




</mapper>